.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Mode Styles */
.light-mode {
  background-color: #ffffff;
  color: #211724;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #272527;
  color: #ffffff;
}

/* Additional styles for buttons */
.toggle-btn {
  position: absolute; /* Adjust position as needed */
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it is above other content */
}

